<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.1"?>
<!-- MMa 11/2009 : changed JTB Editor class, fixed popup menu commands  -->
<plugin>
<!-- Natures Extension -->
   <extension point="org.eclipse.core.resources.natures"
         name="%JavaCC_Nature"
         id="javaccnature" >
      <runtime>
         <run
          class="sf.eclipse.javacc.head.JJNature">
         </run>
      </runtime>
   </extension>
<!-- Builders Extension -->
   <extension point="org.eclipse.core.resources.builders"
         name="%JavaCC_Builder"
         id="javaccbuilder">
      <builder>
         <run
          class="sf.eclipse.javacc.head.JJBuilder" >
         </run>
      </builder>
   </extension>
<!-- Runtime Preferences Extension -->
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="sf.eclipse.javacc.options.PreferencesInitializer">
      </initializer>
   </extension>
<!-- Filters Extension -->
   <extension
         point="org.eclipse.jdt.ui.javaElementFilters">
      <filter
            class="sf.eclipse.javacc.filters.FilterGeneratedJavaCCFiles"
            description="%Filters_JavaCC_Generated_Files"
            enabled="false"
            id="sf.eclipse.javacc.filters.FilterGeneratedJavaCCFiles"
            name="%JavaCC_Generated_Files">
      </filter>
   </extension>
<!-- Keyboard shortcuts Extension -->
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="commands.comment"
            contextId="sf.eclipse.javacc.JJEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+/">
      </key>
      <key
            commandId="commands.jjgotorule"
            contextId="sf.eclipse.javacc.JJEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F3">
      </key>
      <key
            commandId="commands.jjformat"
            contextId="sf.eclipse.javacc.JJEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+Shift+F">
      </key>
      <key
            commandId="commands.jjcontentassist"
            contextId="sf.eclipse.javacc.JJEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+Space">
      </key>
      <key
            commandId="commands.jjfoldingcollapseall"
            contextId="sf.eclipse.javacc.JJEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+Shift+NUMPAD_DIVIDE">
      </key>
      <key
            commandId="commands.jjfoldingexpandall"
            contextId="sf.eclipse.javacc.JJEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+Shift+NUMPAD_MULTIPLY">
      </key>
      <key
            commandId="commands.jjcallhierarchy"
            contextId="sf.eclipse.javacc.JJEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+Alt+H">
      </key>
   </extension>
<!-- Key Binding Commands Extension -->
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="%JavaCC_editor_commands"
            id="JavaCC.category"
            name="%JavaCC_editor">
      </category>
      <command
            categoryId="JavaCC.category"
            description="%Compile_with_JavaCC"
            id="commands.jjcompile"
            name="%Compile_with_JavaCC">
      </command>
      <command
            categoryId="JavaCC.category"
            description="%Compile_with_JTB"
            id="commands.jtbcompile"
            name="%Compile_with_JTB">
      </command>
      <command
            categoryId="JavaCC.category"
            description="%Compile_with_JJDoc"
            id="commands.jjdoccompile"
            name="%Compile_with_JJDoc">
      </command>
      <command
            categoryId="JavaCC.category"
            description="%Comments_the_lines"
            id="commands.comment"
            name="%Toggle_Comment">
      </command>
      <command
            categoryId="JavaCC.category"
            description="%Format"
            id="commands.jjformat"
            name="%Format">
      </command>
      <command
            categoryId="JavaCC.category"
            description="%Open_declaration"
            id="commands.jjgotorule"
            name="%Open_JavaCC_declaration">
      </command>
      <command
            categoryId="JavaCC.category"
            description="%JavaCC_openCallHierarchy"
            id="commands.jjcallhierarchy"
            name="%JavaCC_openCallHierarchy">
      </command>
      <command
            categoryId="JavaCC.category"
            description="%JavaCC_ContentAssist"
            id="commands.jjcontentassist"
            name="%JavaCC_ContentAssist">
      </command>
      <command
            categoryId="JavaCC.category"
            description="%FoldingCollapseAll"
            id="commands.jjfoldingcollapseall"
            name="%FoldingCollapseAll">
      </command>
      <command
            categoryId="JavaCC.category"
            description="%FoldingExpandAll"
            id="commands.jjfoldingexpandall"
            name="%FoldingExpandAll">
      </command>
   </extension>
<!-- Contexts Extension -->
<!-- Requires 'setEditorContextMenuId("sf.eclipse.javacc.editors.JJEditor");' in Editor contructor -->
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="sf.eclipse.javacc.JJEditorScope"
            name="%In_JavaCC_editor"
            parentId="org.eclipse.jdt.ui.javaEditorScope">
      </context>
   </extension>
<!-- Decorator Extension -->
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="sf.eclipse.javacc.head.JJDecorator"
            id="sf.eclipse.javacc.jjdecorator"
            label="%JavaCC_Decorator"
            state="true">
         <enablement>
            <objectClass
                  name="org.eclipse.core.resources.IFile">
            </objectClass>
         </enablement>
         <description>
            %JavaCC_Decorator_description
         </description>
      </decorator>
   </extension>
<!-- Editors Extension -->
   <extension
         point="org.eclipse.ui.editors">
	<!-- JJEditor -->
      <editor
            class="sf.eclipse.javacc.editors.JJEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="true"
            extensions="jjt, jj"
            icon="icons/jj_file.gif"
            id="sf.eclipse.javacc.editors.JJEditor"
            name="%JavaCC_editor">
      </editor>
	<!-- JTBEditor -->
      <editor
            class="sf.eclipse.javacc.editors.JTBEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="true"
            extensions="jtb"
            icon="icons/jtb_file.gif"
            id="sf.eclipse.javacc.editors.JTBEditor"
            name="%JTB_editor">
      </editor>
   </extension>
<!-- Editor Actions Extension (for commands binding) -->
   <extension
         point="org.eclipse.ui.editorActions">
	<!-- JJEditor -->
      <editorContribution
            id="jjeditor.contribution"
            targetID="sf.eclipse.javacc.editors.JJEditor">
         <action
               class="sf.eclipse.javacc.actions.JJCompile"
               definitionId="commands.jjcompile"
               icon="icons/jj_compile.gif"
               id="javacc.jjcompile"
               label="%Compile_with_JavaCC">
         </action>
         <action
               class="sf.eclipse.javacc.actions.JJComment"
               definitionId="commands.comment"
               id="javacc.comment"
               label="%Toggle_Comment">
         </action>
         <action
               class="sf.eclipse.javacc.actions.JJDocCompile"
               definitionId="commands.jjdoccompile"
               icon="icons/jjdoc_compile.gif"
               id="javacc.jjdoccompile"
               label="%Compile_with_JJDoc">
         </action>
         <action
               class="sf.eclipse.javacc.actions.JJContentAssist"
               definitionId="commands.jjcontentassist"
               id="javacc.jjcontentassist"
               label="%JavaCC_ContentAssist">
         </action>
         <action
               class="sf.eclipse.javacc.actions.JJFormat"
               definitionId="commands.jjformat"
               id="javacc.jjformat"
               label="%JavaCC_Format"
               style="push">
         </action>
         <action
               class="sf.eclipse.javacc.actions.JJFoldingCollapse"
               definitionId="commands.jjfoldingcollapseall"
               icon="icons/jj_collapse.gif"
               id="javacc.jjfoldingcollapseall"
               label="%JavaCC_FoldingCollapseAll">
         </action>
         <action
               class="sf.eclipse.javacc.actions.JJFoldingExpand"
               definitionId="commands.jjfoldingexpandall"
               icon="icons/jj_expand.gif"
               id="javacc.jjfoldingexpandall"
               label="%JavaCC_FoldingExpandAll">
         </action>
         <action
               class="sf.eclipse.javacc.actions.JJGotoRule"
               definitionId="commands.jjgotorule"
               id="javacc.jjgotorule"
               label="%Open_declaration">
         </action>
         <action
               class="sf.eclipse.javacc.actions.JJOpenCallHierarchy"
               definitionId="commands.jjcallhierarchy"
               icon="icons/jj_call_hierarchy.gif"
               id="javacc.jjcallhierarchy"
               label="%JavaCC_openCallHierarchy">
         </action>
      </editorContribution>
	<!-- JTBEditor -->
      <editorContribution
            id="jtbeditor.contribution"
            targetID="sf.eclipse.javacc.editors.JTBEditor">
         <action
               class="sf.eclipse.javacc.actions.JTBCompile"
               definitionId="commands.jtbcompile"
               icon="icons/jtb_compile.gif"
               id="javacc.jtbcompile"
               label="%Compile_with_JTB">
         </action>
         <action
               class="sf.eclipse.javacc.actions.JJComment"
               definitionId="commands.comment"
               id="javacc.comment"
               label="%Toggle_Comment">
         </action>
         <action
               class="sf.eclipse.javacc.actions.JJDocCompile"
               definitionId="commands.jjdoccompile"
               icon="icons/jjdoc_compile.gif"
               id="javacc.jjdoccompile"
               label="%Compile_with_JJDoc">
         </action>
         <action
               class="sf.eclipse.javacc.actions.JJContentAssist"
               definitionId="commands.jjcontentassist"
               id="javacc.jjcontentassist"
               label="%JavaCC_ContentAssist">
         </action>
         <action
               class="sf.eclipse.javacc.actions.JJFormat"
               definitionId="commands.jjformat"
               id="javacc.jjformat"
               label="%JavaCC_Format"
               style="push">
         </action>
         <action
               class="sf.eclipse.javacc.actions.JJFoldingCollapse"
               definitionId="commands.jjfoldingcollapseall"
               icon="icons/jj_collapse.gif"
               id="javacc.jjfoldingcollapseall"
               label="%JavaCC_FoldingCollapseAll">
         </action>
         <action
               class="sf.eclipse.javacc.actions.JJFoldingExpand"
               definitionId="commands.jjfoldingexpandall"
               icon="icons/jj_expand.gif"
               id="javacc.jjfoldingexpandall"
               label="%JavaCC_FoldingExpandAll">
         </action>
         <action
               class="sf.eclipse.javacc.actions.JJGotoRule"
               definitionId="commands.jjgotorule"
               id="javacc.jjgotorule"
               label="%Open_declaration">
         </action>
         <action
               class="sf.eclipse.javacc.actions.JJOpenCallHierarchy"
               definitionId="commands.jjcallhierarchy"
               icon="icons/jj_call_hierarchy.gif"
               id="javacc.jjcallhierarchy"
               label="%JavaCC_openCallHierarchy">
         </action>
      </editorContribution>
   </extension>
<!-- New Wizard Extension -->
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="sf.eclipse.javacc"
            name="%JavaCC_category_name">
      </category>
      <wizard
            category="sf.eclipse.javacc"
            class="sf.eclipse.javacc.wizards.JJNewWizard"
            icon="icons/jj_file.gif"
            id="sf.eclipse.javacc.wizards.JJNewWizard"
            name="%JavaCC_Template_file"
            project="false">
      </wizard>
   </extension>
<!-- Popup Menus Extension (on Package Explorer and Editors) -->
   <extension
         point="org.eclipse.ui.popupMenus">
	<!-- JavaCC -->
      <objectContribution
            adaptable="false"
            id="javacccompile"
            nameFilter="*.jj"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="sf.eclipse.javacc.actions.JJCompile"
               enablesFor="1"
               icon="icons/jj_compile.gif"
               id="javacc.compile"
               label="%Compile_with_JavaCC"
               menubarPath="JJGroup">
         </action>
      </objectContribution>
	<!-- JJTree -->
      <objectContribution
            adaptable="false"
            id="jjtreecompile"
            nameFilter="*.jjt"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="sf.eclipse.javacc.actions.JJCompile"
               enablesFor="1"
               icon="icons/jj_compile.gif"
               id="javacc.compile"
               label="%Compile_with_JavaCC"
               menubarPath="JJGroup">
         </action>
      </objectContribution>
	<!-- JTB -->
      <objectContribution
            adaptable="false"
            id="jtbcompile"
            nameFilter="*.jtb"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="sf.eclipse.javacc.actions.JTBCompile"
               enablesFor="1"
               icon="icons/jtb_compile.gif"
               id="jtb.compile"
               label="%Compile_with_JTB"
               menubarPath="JJGroup">
         </action>
      </objectContribution>
	<!-- JJEditor -->
      <viewerContribution
            id="jjeditor.popup"
            targetID="sf.eclipse.javacc.editors.JJEditor">
         <menu
               id="JavaCCMenu"
               label="%JavaCC_menu_label"
               path="JavaCC">
            <separator
                  name="JJGroup">
            </separator>
         </menu>
         <action
               class="sf.eclipse.javacc.actions.JJDocCompile"
               definitionId="commands.jjdoccompile"
               icon="icons/jjdoc_compile.gif"
               id="javacc.jjdoccompile"
               label="%Compile_with_JJDoc"
               menubarPath="JJGroup">
         </action>
         <action
               class="sf.eclipse.javacc.actions.JJGotoRule"
               definitionId="commands.jjgotorule"
               id="javacc.jjgotorule"
               label="%Open_declaration"
               menubarPath="JJGroup">
         </action>
         <action
               class="sf.eclipse.javacc.actions.JJOpenCallHierarchy"
               definitionId="commands.jjcallhierarchy"
               icon="icons/jj_call_hierarchy.gif"
               id="javacc.jjcallhierarchy"
               label="%JavaCC_openCallHierarchy"
               menubarPath="JJGroup">
         </action>
         <action
               class="sf.eclipse.javacc.actions.JJFormat"
               definitionId="commands.jjformat"
               id="javacc.jjformat"
               label="%JavaCC_Format"
               menubarPath="JJGroup">
         </action>
         <action
               class="sf.eclipse.javacc.actions.JJComment"
               definitionId="commands.comment"
               id="javacc.comment"
               label="%Toggle_Comment"
               menubarPath="JJGroup">
         </action>
         <action
               class="sf.eclipse.javacc.actions.JJCompile"
               definitionId="commands.jjcompile"
               icon="icons/jj_compile.gif"
               id="javacc.compile"
               label="%Compile_with_JavaCC"
               menubarPath="JJGroup">
         </action>
      </viewerContribution>
	<!-- JTBEditor -->
      <viewerContribution
            id="jtbeditor.popup"
            targetID="sf.eclipse.javacc.editors.JTBEditor">
         <menu
               id="JTBMenu"
               label="%JTB_menu_label"
               path="JTB">
            <separator
                  name="JTBGroup">
            </separator>
         </menu>
         <action
               class="sf.eclipse.javacc.actions.JJDocCompile"
               definitionId="commands.jjdoccompile"
               icon="icons/jjdoc_compile.gif"
               id="javacc.jjdoccompile"
               label="%Compile_with_JJDoc"
               menubarPath="JTBGroup">
         </action>
         <action
               class="sf.eclipse.javacc.actions.JJGotoRule"
               definitionId="commands.jjgotorule"
               id="javacc.jjgotorule"
               label="%Open_declaration"
               menubarPath="JTBGroup">
         </action>
         <action
               class="sf.eclipse.javacc.actions.JJOpenCallHierarchy"
               definitionId="commands.jjcallhierarchy"
               icon="icons/jj_call_hierarchy.gif"
               id="javacc.jjcallhierarchy"
               label="%JavaCC_openCallHierarchy"
               menubarPath="JTBGroup">
         </action>
         <action
               class="sf.eclipse.javacc.actions.JJFormat"
               definitionId="commands.jjformat"
               id="javacc.jjformat"
               label="%JavaCC_Format"
               menubarPath="JTBGroup">
         </action>
         <action
               class="sf.eclipse.javacc.actions.JJComment"
               definitionId="commands.comment"
               id="javacc.comment"
               label="%Toggle_Comment"
               menubarPath="JTBGroup">
         </action>
         <action
               class="sf.eclipse.javacc.actions.JTBCompile"
               definitionId="commands.jtbcompile"
               icon="icons/jtb_compile.gif"
               id="jtb.compile"
               label="%Compile_with_JTB"
               menubarPath="JTBGroup">
         </action>
      </viewerContribution>
   </extension>
<!-- Preferences Extension (Global) -->
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="sf.eclipse.javacc.options.PreferencesPage"
            id="JJPreferencesPage"
            name="%JavaCC_Preferences_page_name">
      </page>
   </extension>
<!-- Properties Extensions -->
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="sf.eclipse.javacc.options.PropertyPage"
            id="sf.eclipse.javacc.options.JJPropertyPage"
            name="%JavaCC_Options">
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
               <test
                     property="org.eclipse.core.resources.projectNature"
                     value="org.eclipse.jdt.core.javanature">
               </test>
            </adapt>
         </enabledWhen>
      </page>
   </extension>
<!-- JavaCC Views Extension -->
   <extension point="org.eclipse.ui.views">
      <category
        name="%JavaCC_Views"
        id="sf.eclipse.javacc">
      </category>
      <view           
       name="%JavaCC_Console"
       allowMultiple="false"
       class="sf.eclipse.javacc.head.JJConsoleView"
       icon="icons/jj_console.gif"
       category="sf.eclipse.javacc"
       id="sf.eclipse.javacc.Console">
      </view>
      <view
        name="%JavaCC_CallHierarchy"
        allowMultiple="false"
        class="sf.eclipse.javacc.editors.JJCallHierarchyView"
        icon="icons/jj_call_hierarchy.gif"
        category="sf.eclipse.javacc"
        id="sf.eclipse.javacc.CallHierarchy">
      </view>
   </extension>
</plugin>
