<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.1"?>
<plugin>

<!-- Nature and Builder Extensions -->
   <extension point="org.eclipse.core.resources.natures"
         name="%JavaCC_Nature"
         id="javaccnature" >
      <runtime>
         <run
          class="sf.eclipse.javacc.JJNature">
         </run>
      </runtime>
   </extension>
   <extension point="org.eclipse.core.resources.builders"
         name="%JavaCC_Builder"
         id="javaccbuilder">
      <builder>
         <run
          class="sf.eclipse.javacc.JJBuilder" >
         </run>
      </builder>
   </extension>
<!-- Console View - org.eclipse.ui.console -->
   <extension point="org.eclipse.ui.views">
      <category
            name="%JavaCC_Console"
            id="sf.eclipse.javacc">
      </category>
      <view
            allowMultiple="false"
            class="sf.eclipse.javacc.JJConsole"
            icon="icons/jj_console.gif"
            category="sf.eclipse.javacc"
            name="%JavaCC_Console"
            id="sf.eclipse.javacc.Console">
      </view>
   </extension>
   
<!-- Preferences Extension (Global) -->
   <extension point="org.eclipse.ui.preferencePages">
      <page
            class="sf.eclipse.javacc.options.JJPreferencesPage"
            id="JJPreferencesPage"
            name="JavaCC Preferences"/>
   </extension>
   <extension point="org.eclipse.core.runtime.preferences">
      <initializer class="sf.eclipse.javacc.options.JJPreferences"/>
   </extension>

<!-- Properties Extensions -->
   <extension point="org.eclipse.ui.propertyPages">
<!-- Properties for Project -->
      <page
            name="%JavaCC_Options"
            class="sf.eclipse.javacc.options.JJPropertyPage"
            id="sf.eclipse.javacc.options.JJPropertyPage">
      </page>
   </extension>
<!-- Popup Menus extension on Package Explorer -->
   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            adaptable="false"
            nameFilter="*.jj"
            id="javacccompile">
        <action
            label="%Compile_with_JavaCC"
            menubarPath="JJGroup" 
            icon="icons/jj_file.gif"
            class="sf.eclipse.javacc.actions.JJCompile"
            enablesFor="1"
            id="javacc.compile">
        </action>
      </objectContribution>
            <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            adaptable="false"
            nameFilter="*.jjt"
            id="jjtreecompile">
        <action
            label="%Compile_with_JavaCC"
            menubarPath="JJGroup" 
            icon="icons/jj_file.gif"
            class="sf.eclipse.javacc.actions.JJCompile"
            enablesFor="1"
            id="javacc.compile">
        </action>
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            adaptable="false"
            nameFilter="*.jtb"
            id="jtbcompile">
        <action
            label="%Compile_with_JTB"
            menubarPath="JJGroup" 
            icon="icons/jtb_file.gif"
            class="sf.eclipse.javacc.actions.JTBCompile"
            enablesFor="1"
            id="jtb.compile">
        </action>
      </objectContribution>
   </extension>
<!-- Decorator to show a JJ Icon "Generated" -->
   <extension point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            label="%JavaCC_Decorator"
            state="true"
            class="sf.eclipse.javacc.JJDecorator"
            id="sf.eclipse.javacc.jjdecorator">
            <enablement>
                <objectClass name="org.eclipse.core.resources.IFile"/> 
            </enablement>            
         <description>
            %javacc_decorator_description
         </description>
      </decorator>
   </extension>
<!-- Editor Extension -->
   <extension point="org.eclipse.ui.editors">
      <editor
            name="%JavaCC_editor"
            icon="icons/jj_file.gif"
            extensions="jjt, jj"
            class="sf.eclipse.javacc.editors.JJEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            id="sf.eclipse.javacc.editors.JJEditor">
      </editor>
      <editor
            name="%JTB_editor"
            icon="icons/jtb_file.gif"
            extensions="jtb"
            class="sf.eclipse.javacc.editors.JJEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            id="sf.eclipse.javacc.editors.JTBEditor">
      </editor>  
   </extension>
<!-- Editor Popup Menu Extensions -->
<!-- Requires setEditorContextMenuId("sf.eclipse.javacc.editors.JJEditor"); in Editor contructor -->
   <extension point="org.eclipse.ui.popupMenus">
      <viewerContribution
            targetID="sf.eclipse.javacc.editors.JJEditor"
            id="jjeditor.popup">
      <menu
            id="JavaCCMenu" 
            path="JavaCC" 
            label="JavaCC"> 
      <separator name="JJGroup"/> 
      </menu> 
      <action
            class="sf.eclipse.javacc.actions.JJComment"
            id="javacc.comment"
            definitionId="commands.comment"
            label="%Toggle_Comment"
            menubarPath="JJGroup">
      </action>      
      <action
            class="sf.eclipse.javacc.actions.JJDocCompile"
            id="javacc.jjdoccompile"
            definitionId="commands.jjdoccompile"
            label="%Compile_with_JJDoc"
            menubarPath="JJGroup">
      </action>
      <action
            class="sf.eclipse.javacc.actions.JJGotoRule"
            id="javacc.jjgotorule"
            definitionId="commands.jjgotorule"
            label="%Open_declaration"
            menubarPath="JJGroup">
      </action>
      <action
            class="sf.eclipse.javacc.actions.JJCompile"
            id="javacc.compile"
            definitionId="commands.jjcompile"
            label="%Compile_with_JavaCC"
            menubarPath="JJGroup" 
            icon="icons/jj_file.gif">
      </action>
      <action
            class="sf.eclipse.javacc.actions.JJFormat"
            id="javacc.jjformat"
            definitionId="commands.jjformat"
            label="%JavaCC_Format"
            menubarPath="JJGroup"/>
      </viewerContribution>
   </extension> 
<!-- Editor Popup Menu Extensions for JTB -->
   <extension point="org.eclipse.ui.popupMenus">
      <viewerContribution
            targetID="sf.eclipse.javacc.editors.JTBEditor"
            id="jtbeditor.popup">
      <menu
            id="JTBMenu" 
            path="JTB" 
            label="JTB"> 
      <separator name="JTBGroup"/> 
      </menu> 
      <action
            class="sf.eclipse.javacc.actions.JJComment"
            id="javacc.comment"
            definitionId="commands.comment"
            label="%Toggle_Comment"
            menubarPath="JTBGroup">
      </action>      
      <action
            class="sf.eclipse.javacc.actions.JJDocCompile"
            id="javacc.jjdoccompile"
            definitionId="commands.jjdoccompile"
            label="%Compile_with_JJDoc"
            menubarPath="JTBGroup">
      </action>
      <action
            class="sf.eclipse.javacc.actions.JJGotoRule"
            id="javacc.jjgotorule"
            definitionId="commands.jjgotorule"
            label="%Open_declaration"
            menubarPath="JTBGroup">
      </action>
      <action
            class="sf.eclipse.javacc.actions.JTBCompile"
            id="jtb.compile"
            definitionId="commands.jtbcompile"
            label="%Compile_with_JTB"
            menubarPath="JTBGroup" 
            icon="icons/jtb_file.gif">
      </action>
      <action
            class="sf.eclipse.javacc.actions.JJFormat"
            id="javacc.jjformat"
            definitionId="commands.jjformat"
            label="%JavaCC_Format"
            menubarPath="JTBGroup"/>
      </viewerContribution>
   </extension>   
<!-- Editor Actions for commands binding -->
   <extension point="org.eclipse.ui.editorActions">
      <editorContribution
            id="editor.contribution"
            targetID="sf.eclipse.javacc.editors.JJEditor">
      <action
            label="%Toggle_Comment"
            class="sf.eclipse.javacc.actions.JJComment"
            definitionId="commands.comment"
            id="javacc.comment">
      </action>
      <action
            label="%Compile_with_JJDoc"
            class="sf.eclipse.javacc.actions.JJDocCompile"
            definitionId="commands.jjdoccompile"
            id="javacc.jjdoccompile">
      </action>
      <action
            label="%Open_declaration"
            class="sf.eclipse.javacc.actions.JJGotoRule"
            definitionId="commands.jjgotorule"
            id="javacc.jjgotorule">
      </action>
      <action
            label="%Compile_with_JavaCC"
            class="sf.eclipse.javacc.actions.JJCompile"
            definitionId="commands.jjcompile"
            id="javacc.jjcompile">
      </action>
      <action
            label="%Compile_with_JTB"
            class="sf.eclipse.javacc.actions.JTBCompile"
            definitionId="commands.jtbcompile"
            id="javacc.jtbcompile">
      </action>
      <action
            label="%JavaCC_Format"
            class="sf.eclipse.javacc.actions.JJFormat"
            definitionId="commands.jjformat"
            id="javacc.jjformat"
            style="push"/>
      <action
            label="%JavaCC_ContentAssist"
            class="sf.eclipse.javacc.actions.JJContentAssist"
            definitionId="commands.jjcontentassist"
            id="javacc.jjcontentassist"/>  
     <action
            label="%JavaCC_FoldingCollapseAll"
            class="sf.eclipse.javacc.actions.JJFoldingCollapse"
            definitionId="commands.jjfoldingcollapseall"
            id="javacc.jjfoldingcollapseall"/>    
     <action
            label="%JavaCC_FoldingExpandAll"
            class="sf.eclipse.javacc.actions.JJFoldingExpand"
            definitionId="commands.jjfoldingexpandall"
            id="javacc.jjfoldingexpandall"/>     
      </editorContribution>
<!-- For JTB -->
      <editorContribution
            id="jtbeditor.contribution"
            targetID="sf.eclipse.javacc.editors.JTBEditor">
      <action
            label="%Toggle_Comment"
            class="sf.eclipse.javacc.actions.JJComment"
            definitionId="commands.comment"
            id="javacc.comment">
      </action>
      <action
            label="%Compile_with_JJDoc"
            class="sf.eclipse.javacc.actions.JJDocCompile"
            definitionId="commands.jjdoccompile"
            id="javacc.jjdoccompile">
      </action>
      <action
            label="%Open_declaration"
            class="sf.eclipse.javacc.actions.JJGotoRule"
            definitionId="commands.jjgotorule"
            id="javacc.jjgotorule">
      </action>
      <action
            label="%Compile_with_JTB"
            class="sf.eclipse.javacc.actions.JTBCompile"
            definitionId="commands.jtbcompile"
            id="javacc.jtbcompile">
      </action>
      <action
            label="%JavaCC_Format"
            class="sf.eclipse.javacc.actions.JJFormat"
            definitionId="commands.jjformat"
            id="javacc.jjformat"
            style="push"/>
      <action
            label="%JavaCC_ContentAssist"
            class="sf.eclipse.javacc.actions.JJContentAssist"
            definitionId="commands.jjcontentassist"
            id="javacc.jjcontentassist"/>      
      </editorContribution>
   </extension>
<!-- Commands for key binding -->
   <extension point="org.eclipse.ui.contexts">
     <context
       id="sf.eclipse.javacc.JJEditorScope"
       name="%In_JavaCC_editor"
       parentId="org.eclipse.jdt.ui.javaEditorScope">
     </context>
   </extension>
   <extension point="org.eclipse.ui.commands">
      <category
            name="%JavaCC_editor"
            description="%JavaCC_editor_commands"
            id="JavaCC.category">
      </category>
      <command
            description="%Comments_the_lines"
            categoryId="JavaCC.category"
            name="%Toggle_Comment"
            id="commands.comment"/>
      <command
            description="%Compile_with_JJDoc"
            categoryId="JavaCC.category"
            name="%Compile_with_JJDoc"
            id="commands.jjdoccompile"/>
      <command
            description="%Open_declaration"
            categoryId="JavaCC.category"
            name="%Open_JavaCC_declaration"
            id="commands.jjgotorule"/>
      <command
            description="%Compile_with_JavaCC"
            categoryId="JavaCC.category"
            name="%Compile_with_JavaCC"
            id="commands.jjcompile"/>
      <command
            description="%Compile_with_JTB"
            categoryId="JavaCC.category"
            name="%Compile_with_JTB"
            id="commands.jtbcompile"/>
      <command
            description="%JavaCC_Format"
            categoryId="JavaCC.category"
            name="%JavaCC_Format"
            id="commands.jjformat"/>
      <command
            description="%JavaCC_ContentAssist"
            categoryId="JavaCC.category"
            name="%JavaCC_ContentAssist"
            id="commands.jjcontentassist"/>
      <command
            description="%JavaCC_FoldingCollapseAll"
            categoryId="JavaCC.category"
            name="%JavaCC_FoldingCollapseAll"
            id="commands.jjfoldingcollapseall"/>
     <command
            description="%JavaCC_FoldingExpandAll"
            categoryId="JavaCC.category"
            name="%JavaCC_FoldingExpandAll"
            id="commands.jjfoldingexpandall"/>
   </extension>
<!-- Keyboard shortcuts -->
   	<extension point="org.eclipse.ui.bindings">
     <key sequence="Ctrl+/"
            contextId="sf.eclipse.javacc.JJEditorScope"
            commandId="commands.comment"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
     <key sequence="F3"
            contextId="sf.eclipse.javacc.JJEditorScope"
            commandId="commands.jjgotorule"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
     <key sequence="Ctrl+Shift+F"
            contextId="sf.eclipse.javacc.JJEditorScope"
            commandId="commands.jjformat"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
     <key sequence="Ctrl+Space"
            contextId="sf.eclipse.javacc.JJEditorScope"
            commandId="commands.jjcontentassist"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
    <key sequence="Ctrl+Shift+NUMPAD_DIVIDE"
            contextId="sf.eclipse.javacc.JJEditorScope"
            commandId="commands.jjfoldingcollapseall"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
    <key sequence="Ctrl+Shift+NUMPAD_MULTIPLY"
            contextId="sf.eclipse.javacc.JJEditorScope"
            commandId="commands.jjfoldingexpandall"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/> 
   </extension>
<!-- New Wizard Extension -->
   <extension point="org.eclipse.ui.newWizards">
      <category name="JavaCC"
            id="sf.eclipse.javacc"/>
      <wizard icon="icons/jj_file.gif"
            class="sf.eclipse.javacc.wizards.JJNewWizard"
            category="sf.eclipse.javacc"
            project="false"
            name="%JavaCC_Template_file"
            id="sf.eclipse.javacc.wizards.JJNewWizard"/>
   </extension>
   <extension
         point="org.eclipse.jdt.ui.javaElementFilters">
      <filter
            class="sf.eclipse.javacc.filters.FilterGeneratedJavaCCFiles"
            description="%Filters_JavaCC_Generated_Files"
            enabled="false"
            id="sf.eclipse.javacc.filters.FilterGeneratedJavaCCFiles"
            name="%JavaCC_Generated_Files"/>
   </extension>
</plugin>
