<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="com.subx.eclipse.javacc"
   name="Javacc Plug-in"
   version="0.8.0"
   provider-name="s u b x, i n c."
   class="com.subx.eclipse.javacc.JavaccPlugin">

   <runtime>
      <library name="javacc.jar"/>
      <library name="JavaCC.zip"/>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.jdt.core"/>
   </requires>


   <extension
         id="Builder"
         name="s u b x JavaCC Builder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="com.subx.eclipse.javacc.Builder">
         </run>
      </builder>
   </extension>

</plugin>
