<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
<!-- Help Extension -->   
   <extension point="org.eclipse.help.toc"
         id="javaccPluginHelp"
         name="JavaCC Plugin Help">
      <toc
            primary="true"
            file="JJPlgToc.xml"
            extradir="doc"/>
      <toc
            extradir="doc"
            file="JJToc.xml"
            primary="false"/>
   </extension>
</plugin>
